
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Arial, Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

body{
	background: #fff;
	font-family: Arial, Arial, Helvetica, sans-serif;
	line-height: 1;
	color: black;
	font-size: 12px;
}

ul {
	list-style: none;
}

td, th {
display: table-cell;
vertical-align: inherit;
}

table {
border-spacing: 0px 0px;
border-collapse: collapse;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
	/*border-collapse: collapse;
	border-spacing: 0;*/
}

/***** Common Styles ****/

h1, h2, h3, h4, h5, h6{
	margin-bottom:20px;
}

h1{
	font-size:35px;
	font-weight:normal;
}

h2{
	font-size:27px;
	font-weight:normal;
}

h3{
	font-size:18px;
	font-weight:normal;
	
}

h4{
	font-weight:normal;
	font-size:16px;
}

h5{
	font-size:14px;
	font-weight:normal;
}

h6{
	font-size:12px;
	font-weight:normal;	
}

.clr {
	clear:both;
}

.marginNone{
	margin:0;
}

.borderNone{
	border:none !important;
}

p{
	margin-bottom:17px;
	line-height:20px;
}

a{
	text-decoration:none;
	color: #000;
}

a:hover{
	text-decoration: underline;
}
a:hover,
a:active {
  outline: 0;
}

strong{
	font-weight: bold;
}

hr {
	background: #CCC;
	border: 0 none;
	height: 1px;
	margin-bottom: 0;
}


/**************************************************************
GENERAL STYLE
**************************************************************/

#dotcom-heroes{
	width:100%;
	border-top: 5px solid #000;
}

.wrap{
	width:700px;
	margin: 0 auto;
}

/* header style */
#header{
	position: relative;
	margin-bottom: 20px;
}

#header .logo {
	position: absolute;
	top:10px;
	left: 0;
}

#header .name-opt {
	height: 30px;
	padding-top: 50px;
	text-align: right;
	margin-right: 5px;
}

#header .name-opt .user-menu{
	padding: 10px 0 10px 10px;
	background: #EFEFEF;
	border: 1px solid #CCCCCC;
	min-height: 30px;
	width: 200px;
	text-align: left;
	position: absolute;
	top: 65px;
	right: 0;
	z-index: 100;
	display: none;
}

#header .name-opt .user-menu li{
	margin-left: 20px;
}

#header .name-opt .user-menu li a{
	color: #666;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	list-style: disc inside;

}

.down-arrow{
	padding-left: 5px;
	text-align: right;
}

/* nav */

#nav{
	display: block;
	margin-bottom: 30px;
	float: right;
}

#nav .admin-opt{
	height: 30px;
	width:700px;
	float: right;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 30px;
}

#nav .admin-opt .menu{
	padding: 3px 10px;
	background: #AAA;
	border-radius: 14px;
	-miz-border-radius: 14px;
	-webkit-border-radius: 14px;
	color: #FFF;
}

#nav .admin-opt .menu:hover{
	background: #319FD5;
	text-decoration: none;
}

#nav .my-to-do{
	display: block;
	float: right;
	margin-right: 5px;
	position: relative;
}

#nav .my-to-do .admin_menu{
	display: none;
	background: #FAFAFA;
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 100;
	border: 1px solid #CCCCCC;
	width: 200px;
	padding-left: 20px;
}

/***************************************************************
START CONTENT STYLE
***************************************************************/
#content{
	float: left;
	display: block;
	position: relative;
	width: 100%;
}

/* style content details */
#content .details {
	display: table-cell;
}

/* form */
.details .form{
	width: 550px;
	display: block;
	margin-top: 15px;
}

.text-field {
	border: 1px solid #ccc;
	padding-left: 5px;
	width: 160px;
	height: 24px;
	line-height: 24px;
	margin:0 10px 18px 0;
	color:#404040;
	width: 250px;
	height: 25px;
}

.save-btn{
	background:#fff;
	border: none;
	margin-bottom: 18px;
	color:#404040;
	cursor: pointer;
	padding: 0;
	margin:0;
}

/* history */
.history{
	display: block;
	width: 100%;
	position: relative;
	padding-top: 25px;
	margin-bottom: 20px;
}

.history ul{
	padding: 0;
	margin: 0;
	width: 390px;
	position: absolute;
	top: 0;
	left: 0;
}

.history ul li:first-child{
	border-left: 1px solid #CCC;
}

.history ul li{
	float: left;
	list-style: none;
	padding: 0;
	text-align: left;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.history ul li a{
	background: #EEE;
	font-size: 14px;
	text-transform: lowercase;
	padding: 5px 10px;
	color: #404040;
	display: block;
}

.history ul li a.active,
.history ul li a:hover{
	background: #FFF;
	text-decoration: none;
}

.history .search_box{
	min-height: 30px;
	width: 520px;
	border: 1px solid #CCC;
	padding: 20px 10px;
	display: none;
}

.history .search_box label{
	font-size: 14px;
	font-weight: bold;
}

.history .search_box input{
	width: 150px;
	height: 25px;
	margin-right: 20px;
}

#search_range_btn{
	width: 80px;
	height: 30px;
}

.user-managment{
	display: block;
	text-align: left;
	padding-top: 10px;
}

.redio{
	text-align: left;
	display: block;
	margin-bottom: 18px;
}
/*
| User management page
|
*/
.user_list{
	display: block;
}

.user_list ul li{
	position: relative;
	min-height: 20px;
	font-size: 20px;
    padding: 8px 5px 20px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

/*---------------- END USER MANAGEMENT ---------------- */

.details .example{
	display: block;
}

#task_listing{
	padding: 0;
	margin-bottom: 18px;
	min-width: 550px;
}

#task_listing li{
	font-size: 14px;
	padding: 8px 5px 20px 5px;
	font-style: italic;
	color: #CCC;
	font-weight: bold;
	cursor: move;
}

#task_listing li p{
	font-style: normal;
	color: #333;
	font-weight: normal;
	white-space: pre-line;
}

#task_listing li .action{	
	font-style: normal;
	font-weight: normal;
}

#task_listing li.done .task_txt{
	text-decoration: line-through;
	color: #CCC;
}

#task_listing li span.add-line{
	padding-left: 15px;
	margin-top: 20px;
}

.details .present {
	position: relative;
	border: 1px solid #CCCCCC;
	text-align: left;
	margin-top: -1px;
	background: #F1F1F1;
}

.details .action{
	position: absolute;
	height: 20px;
	right: 0;
	bottom: 0;
}

.details .action a{
	padding: 0 5px;
	float: left;
	margin-top: 0px;
}

.details .action a.btn{
	border: 1px solid #CCC;
	border-radius: 7px;
	height: 13px;
	font-size: 11px;
	line-height: 12px;
	color: #666;
	margin-top: 0px;
	margin-left: 5px;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.details .action a.btn:hover{
	text-decoration: none;
	border-color: #FAA;
	color: #F00;

	background: #ffe5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe5e5 0%, #e2b5b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe5e5), color-stop(100%,#e2b5b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe5e5 0%,#e2b5b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe5e5 0%,#e2b5b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe5e5 0%,#e2b5b5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffe5e5 0%,#e2b5b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5e5', endColorstr='#e2b5b5',GradientType=0 ); /* IE6-9 */

}

.details .action .btn_info{
	position: relative;
	opacity: 0;
}

.details .present .info .arrow{
	background: url(../img/mark-up.png) no-repeat scroll 0 0 transparent;
	width: 18px;
	height: 9px;
	position: absolute;
	top: -9px;
	right: 4px;
}

.details .present .info{
	background: #f4f5f7;
	display: none;
	position: absolute;
	right: 0px;
	top:22px;
	height:40px;
	min-width: 125px;
	border: 1px solid #afb5bc;
	text-align: right;
	line-height: 20px;
	font-size: 11px;
	padding: 5px;
	color:#404040;
	z-index: 100;
}

/* save & loading style */
.saving{
	display: none;
	position: absolute;
	right: 5px;
	top: 0;
	color: red;
	text-align: right;
	width: 250px;
}

.saving .loading{
	margin:-4px 0 0 5px; 
	float: right;
}



/* style content left sideber */
#content .left-sideber {
	width:150px;
	display: table-cell;
}

.left-sideber .name-list{
	text-align: left;
	display: block;
}

.left-sideber .name-list ul{
	padding-top: 10px;
	margin: 0;
}

.left-sideber .name-list ul li{
	list-style: none;
	padding-top: 5px;
}

.left-sideber .name-list ul li a{
	text-decoration: none;
	color: #FFF;
	padding: 5px 10px;
	display: block;
	margin-right: 25px;
	border-radius: 14px;
	background: #AAA;
}

.left-sideber .name-list ul li a:hover,
.left-sideber .name-list ul li a.active{
	background: #319FD5;
}

.name-list .curent{
	text-decoration: underline;
}


#infoMessage p{
  padding: 0 5px;
  border: 1px solid #F66;
  background: #FAA;
  color: #F00;
  text-align: center;
  margin-bottom: 5px;
}

#infoMessage p.success{
	border: 1px solid #2B9900;
  	background: #E3FCDC;
  	color: #2B9900;
}

.task_loading{
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 50px 0;
}


.update_info{
	width: 320px;
	border: 1px solid #CCC;
	float: left;
	padding: 10px;
}

.update_pass{
	width: 320px;
	border: 1px solid #CCC;
	float: right;
	padding: 10px;
}

.update_info label,
.update_pass label{
	font-weight: bold;
	display: block;
	margin-bottom: 2px;
	color: #666;
}


















